[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aslib"]
	path = aslib
	url = https://github.com/coseal/aslib-r
	subdir = aslib
